.top-design {
    width: 100%;
    height: auto;
}
.purple {
    position: absolute;
    top: 0;
    left: 0;
    width: 25.5%;
    background: var(--primary);
    text-align: center;
    color: white;
    height: 30px;
    border-radius: 0rem 0  1.5rem 0;
}
.purple-help {
    position: absolute;
    top: 0;
    left: 25%;
    width: 20%;
    background: var(--primary);
    height: 15px;
}

.white {
    position: absolute;
    top: 0;
    right: 0;
    width: 74.7%;
    height: 30px;
    border-radius: 1rem 0 0 0;
    background: var(--theme);
}



