@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background: var(--theme);
  box-shadow: 0px 1px 10px var(--dark-shadow);
  z-index: 1;
}

@media screen and (min-width: 760px) {
  .header {
    padding: 0.75rem 1rem;
  }
}

.head-menu-icon {
  width: 50px;
  height: 50px;
  background: var(--theme);
  position: fixed;
  top: 64px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
  /* box-shadow: ; */
}

.head-menu-icon:hover {
  background: var(--theme-sec);
}

.show {
  animation: show 0.3s ease-in-out;
  left: 0;
}
.hide {
  animation: hide 0.3s ease-in-out;
  left: -50px;
}

.head-nav {
  height: auto;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.head-nav ul li:not(:first-of-type) {
  margin-left: 2rem 
}

.sign-in {
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
}

.sign-in:hover, .sign-in:focus {
  color: var(--primary);
}

.head-nav .btn {
  border: 3px solid var(--theme-sec);
  color: var(--theme-sec);
  transition: border 0.3s;
}

.head-nav .btn:hover, .head-nav .btn:focus {
  border: 3px solid var(--primary);
}

.head-nav .btn div {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: var(--theme-sec);
  color: var(--text-color-sec);
  line-height: 20px;
  font-size: 12px;
  margin-left: 10px;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0%{
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 400px) {
  .header{
    padding: 0.5rem 0.5rem;
  }
}